@inherits LayoutComponentBase

<HeadContent>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
</HeadContent>

<body>
    @Body
</body>
